:root.theme-dark {
  --page-bg-color: #000028;
  --page-text-color: #f1b2ce;

  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --subtitle-color: #000028;
  --subtitle-bg-color: #ff0070;

  --text-color: #f1b2ce;
  --text-bold-color: #ff0070;

  --link-color: #f1b2ce;
  --link-hover-color: #f1b2ce;
  --link-focus-color: #f1b2ce;
  --link-shadow-color: #ff0070;

  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --decor-color: #ff0070;
  --decor-hover-color: rgba(255, 0, 112, 0.4);
  --border-color: #ff0070;
  --decor-border: #ff0070;

  --shadow-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);

  /* REC виден в тёмной теме */
  --decor-display: flex;
}