:root.theme-light {
  --page-bg-color: #fff1f7;
  --page-text-color: #353430;

  --title-color: #ffc2e6;
  --section-title-color: #353430;
  --subtitle-color: #353430;
  --subtitle-bg-color: #ff8dcb;

  --text-color: #353430;
  --text-bold-color: #353430;

  --link-color: #353430;
  --link-hover-color: #353430;
  --link-focus-color: #353430;
  --link-shadow-color: #ff8dcb;

  --accent-color: #353430;
  --accent-text-color: #353430;
  --decor-color: #353430;
  --decor-hover-color: rgba(53, 52, 48, 0.4);
  --border-color: #353430;
  --decor-border: #353430;

  --shadow-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);

  /* REC скрыт в светлой теме */
  --decor-display: none;
}